{% extends 'main/base.html' %}
{% block title %}
    Index page
{% endblock %}

{% block body %}

{% load static %}
    <div class="card" style="width: 18rem;">
      <img src="{% static 'main/bayern.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Index page</h5>
        <a href="{% url 'main:profile'%}" class="btn btn-primary">Go</a>
      </div>
    </div>
{% if request.user.is_authenticated %}


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">rating</th>
      <th scope="col">description</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>

    {% for item in products %}
        <tr>
          <th scope="row">{{ item.name }}</th>
          <th scope="row">{{ item.price }}</th>
          <th scope="row">{{ item.rating }}</th>
          <th scope="row">{{ item.description }}</th>
          <th scope="row"><a href="{% url 'main:update_products' item.id %}" class="btn btn-sm btn-info">Update</a></th>
          <th scope="row"><a href="{% url 'main:delete_products' item.id %}" class="btn btn-sm btn-danger">Delete</a></th>
        </tr>
    {% endfor %}

  </tbody>
</table>

{% endif %}


{% endblock %}